@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&display=swap");
:root {
  --black: #000000;
  --white: #ffffff;
  --grey: #bdb7b1;
  --blue: #00a8cc;
  --orange: #ff6464;
}
*::selection {
  color: var(--white);
  background: var(--black);
}
body{
    background: #e5e5e5;
    max-width: 1280px;
    width: 100%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}
.contact-us {
  font-family: "Heebo", sans-serif;
  padding: 40px 0;
  text-align: center;
}
.contact-us h1 {
  font-size: 700;
  font-size: 2rem;
  letter-spacing: 0.03em;
}
.contact-us .border{
    border: 2px solid var(--blue);
    width: 25%;
    height: 6px;
    background: var(--blue);
    display: inline-block;
}
.contact-us form {
padding-top: 1.5rem ;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.contact-us form input,
.contact-us form textarea
{
    display: block;
    width: 60%;
    border-radius: 4px;
    padding:15px;
    margin: 10px 0;
    border: 1px solid var(--grey);
    resize: none;
}
.contact-us form input::placeholder,
.contact-us form textarea::placeholder{
    font-weight: 500;
    font-size: 14px;
    color: var(--grey);
}
.contact-us form input[type = "text"],
.contact-us form textarea {
    font-size: 15px;
    font-weight: 700;
    color: var(--blue);
}
.contact-us form input:focus,
.contact-us form textarea:focus{
    border-color: var(--blue);
}
.contact-us form input[type = "submit"]{
    width: 7%;
    font-size: 16px;
    font-weight: 700;
    padding: 10px;
    background: var(--blue);
    border: none;
    color: var(--black);
}
.contact-us form input[type = "submit"]:hover{
    background: var(--black);
    color: var(--white);
    cursor: pointer;
}
@media only screen and (max-width:600px){
    .contact-us {
        padding: 5rem 0;
      }
    .contact-us h1 {
        font-size: 1.5rem;
    }
    .contact-us .border {
        width: 46%;
    }
    .contact-us form input, .contact-us form textarea {
        width: 70%;        
    }
    .contact-us form input[type = "submit"] {
        width: 25%;
    }
}
@media only screen and (min-width:600px) and (max-width:991px){
    .contact-us {
        padding: 5rem 0;
      }
      .contact-us form input, .contact-us form textarea {
        width: 55%;
    }
      .contact-us form input[type = "submit"] {
        width: 12%;
    }
}